
{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
{% include 'users/side_panel_profile.html' %}
{% load static %}
<link href="{% static 'css\profile_page.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->


<div class="main">
    <head>
        {{form.media}}
        <title> My Forum Post</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </body>
</div>
{%endblock%}
