{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
<!-- {% include 'users/side_panel_profile.html' %} -->
{% load static %}
<link href="{% static 'css\profile_page.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->


<div class="main">
  <!-- <head>
      {{form.media}}
      <title> My Forum Post</title>
      <script src="https://cdn.tiny.cloud/1/68j3cnbey1kzlifrszj8weq2sp22nr5nmua9fsaj21i32hg2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  </head> -->
<body>

    <div class="card shadow-lg border-10 rounded-lg mt-0 mb-0">
        <!-- <div class="card-header justify-content-center"> -->
        <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.name }}
                </div>
            <!-- {{form.as_table}} -->
            <div class="card-body">
                {% for field,value in materials.items %}
                    <div class="flax-container">
        
                        <label class="inline-block">{{ field }}</label>
                        <input class="inline-block"  type="text" id="{{ field }} :" name="{{ field }}" value="{{value}}">
                        <label class="inline-block">{{ field.unit }}</label>

                        <p></p>
                    </div>  
                {% endfor %}
            </div>
            {% if edit %}
                <input type="submit" class="btn btn-primary" value="Submit">
            {% endif %}
            
        </form>
                       
    </div>
    


</body>
</div>

{%endblock%}