{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">خوش فرمودید, {{user.first_name.title|default:'مهمان'}}</h1>
        <p class="lead">
            این سایت مختص <b>شرکت درصا</b> با هدف استفاده از ابزار های توسعه یافته توسط شرکت میباشد 
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">ورود</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}