{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"><center>خوش فرمودید, {{user.first_name.title|default:'مهمان'}}</center></h1>
        <p class="lead"><center>این سایت مختص <b>شرکت درصا</b> با هدف استفاده از ابزار های توسعه یافته توسط شرکت میباشد </center></p>
        <hr class="my-4">
        <p class="lead"><center>
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button"> ورود</center></a>
            {% endif %}
        

        </p>
    </ceneter>
    </div>

{% endblock content %}