{% extends "users/base.html" %}
{% block title %}Login Page{% endblock title %}
{% block content %}
<div class="container my-3 p-3">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                <div class="card-header text-center">
                    <h3 class="font-weight-light my-1">ورود کاربر</h3>
                </div>

                {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong><br>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1">نام کاربری</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1">رمز عبور</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group form-check">
                            {{ form.remember_me }}
                            <label class="form-check-label">یادآوری</label>
                        </div>
                        <div class="form-group">
                            <button name="login" class="btn btn-dark btn-block" id="login">ورود</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="small">
                        <a href="{% url 'users-register' %}">آیا اکانت ندارید? ثبت نام</a><br>
                        <a href="{% url 'password_reset' %}"><i>فراموشی رمز عبور</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
