{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}

<style>
    .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #ffffff;
    padding: 10px;
    align-items: center;
    }
    .grid-item {
        background-color: rgba(125, 182, 247, 0.8);
        border: 8px solid rgb(255, 255, 255);
        border-radius: 15px;
        /* border-collapse: separate; */
        border-spacing: 2px;
        padding: 10px;
        font-size: 30px;
        text-align: center;
        }

    .card-text{
        font-size: 15px;
        color: darkolivegreen;
    }

</style>


<div class="grid-container">

  <!-- <div class="row"> -->
    <!--  <div class = "grid-item"> -->
      <!-- <div class="col-md-10 mt-1">  -->
          {% for project in projects %}
          <div class="grid-item">
            <div class="card-body">
                <h2 class="card-title">{{ project.persian_name }}</h2>
                <h3 class="card-title">{{ project.short_name }}</h3>
                <p class="card-text">مدیر پروژه :   {{project.project_maanger.first_name}}  {{project.project_maanger.last_name}}</p>
                <p class="card-text">{{project.describe|slice:":200" }}</p>
                <p class="card-text">شهر : {{project.city.persian_name}}</p>

                <a href="{{project.id}}" class="btn btn-primary">جزییات بیشتر &rarr;</a>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

{%endblock%}