
{% extends 'users/base.html' %} {% block content %}
{% load static %}

<link href="{% static 'css\post_view.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> -->

<head>
    <p></p>
    <h1 style="text-align: center;">{{project.persian_name}}</h1>
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4  mt-3 left  top">
        <div class="card-body">

            <p class=" text-muted">author : {{ project.author }} |  Start date : {{ project.start_date }} </p>
            <p class=" text-muted">  updated at :   {{ info.updated_at}}</p>
            <p class="card-text ">{{ info.content | safe }}</p>
            <p class="card-text "> </p>
            <p class="card-text "> </p>


        </div>
        </div>
        {% block sidebar %} {% include 'users/sidebar.html' %} {% endblock sidebar %}
    </div>
    </div>
</body>

{% endblock content %}
