<div class="sidenav">
    <div class="profile">
        <img src="{{ user.profile.avatar.url }} " alt="" width="100" height="130">

        <div class="name">
            {{user.first_name}} {{ user.last_name}} <br> id : {{user.username}}
        </div>
        <div class="job">
            Position : {{user.profile.job_position}} 
        </div>
    </div>

    <div class="sidenav-url">
        <div class="url">
            <a href="/profile" class="active">Profile</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="/profile/create_post">Create Posts</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="/profile/my_posts">My Posts</a>
            <hr align="center">
        </div>

        <div class="url">
            <a href="/profile/my missions">ماموریت های من</a>
            <hr align="center">
        </div>

        <div class="url">
            <a href="/test">test</a>
            <hr align="center">
        </div>
    </div>
</div>