{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
{% include 'users/side_panel_profile.html' %}
{% load static %}
{% load static %}
<link href="{% static 'css\profile_page.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">


<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in posts %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.slug }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                   <!-- asdada -->
                    <p class="card-text">{{post.title|slice:":200" }}</p>
                    <a href="/posts/{{post.slug}}" class="btn btn-primary">Read More &rarr;</a>
                    <a href="/posts/edit/{{post.id}}" class="btn btn-primary">Edit &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'users/sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}